
        *{
            margin: 0px;
            padding: 0px;
            font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
           
        }
        .head_container{
            height: 80px;
            width: 100%;
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);

        }
        .logo-container{
            margin-left:2% ;
            height: 80px;
            width: 53px;
            display: flex;
            align-items: center;

            
        }
        .myntra-logo{
            height: 60px;
            width: 100px;
            margin-top: 15px;
        }
         .navcontainer{
            display: flex;
            height: 80px;
            margin-left: 3%;
            align-items: center;
            min-width: 525px;
            justify-content: space-between;
        }
        .navcontainer a{
                text-decoration: none;
                font-size: 14px;
                letter-spacing: .3px;
                color: #282c3f;
                border-bottom: none;
                font-weight: 700;
                text-transform: uppercase;
        }
        .navcontainer a:hover{
            border-bottom: #ff3f6c;
        }
        .navcontainer a sup{
            text-align: left;
            color: #ff3f6c;
            font-weight: 600;
        }
        .search-bar{
            display: flex;
            width: 32%;
            min-width: 200px;
            margin: 20px 20px 20px 40px;
            align-items: center;
            background: #f5f5f6;
            border: 1px solid #f5f5f6;
        }
        .search-input{
                background: #f5f5f6;
                color: #696e79;
                flex-grow: 1;
                width: 95%;
                border: none;
        }
        .search-icon{
                box-sizing: content-box;
                width: 21px;
                height: 21px;
                color: #3e3f41;
                margin-right: 15px;
                border-radius: 5px 0px 0px 5px;    
        }
         .action_container{
            display: flex;
            margin: 20px 30px 0 10px;
            justify-content: space-evenly;
            width: 194px;

        }
        .action-item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .action-item div{
            color: #000;
            font-size: 12px;
            font-weight: 700;
        }
   